<ion-app>
  <ion-content fullscreen class="root">
      <div class="judul">
          <ion-toolbar>
              <ion-item (click)="home()">
                <ion-icon name="menu"></ion-icon>
                  <ion-label>
                      <p>REKAP DATA PENILAIAN<br>KARAKTER SISWA</p>
                  </ion-label>
              </ion-item>
          </ion-toolbar>
      </div>
      <div class="container">
          <ion-item>
              <ion-label position="fixed">
                  <h4>Kelas</h4>
              </ion-label>
              <ion-input type="text" placeholder="Tulis kelas" style=" font-size: 14px;
  --placeholder-opacity: 10%"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="fixed">
                  <h4>Tahun<br>Angkatan</h4>
              </ion-label>
              <ion-input type="number" placeholder="Tulis tahun angkatan" style=" font-size: 14px; --placeholder-opacity: 10%;"></ion-input>
</ion-item>
<ion-item>
  <ion-label><h4>Pilih Semester</h4></ion-label>
  <ion-select class="custom-options" interface="popover">
    <ion-select-option value="ganjil0" class="brown-option">Ganjil 2018/2019</ion-select-option>
    <ion-select-option value="genap1">Genap 2018/2019</ion-select-option>
    <ion-select-option value="ganjil2">Ganjil 2020/2021</ion-select-option>
    <ion-select-option value="genap2">Genap 2020/2021</ion-select-option>
    <ion-select-option value="ganjil2">Ganjil 2021/2022</ion-select-option>
  </ion-select>
</ion-item>
</div>
<div class="button">
<ion-button size ="small" color="tertiary"><p>Lihat Hasil</p></ion-button>
</div>
<div class="tabel">
<ion-grid class="ion-margin">
<ion-row>
  <ion-col>No</ion-col>
  <ion-col>Nama</ion-col>
  <ion-col>Nis</ion-col>
  <ion-col>Penilaian</ion-col>
  <ion-col>Pencatatan Ketercapaian</ion-col>
</ion-row>
<ion-row *ngFor="let student of students; index as i">
  <ion-col>{{ i + 1 }}</ion-col>
  <ion-col>{{ student.nama }}</ion-col>
  <ion-col>{{ student.nis }}</ion-col>
  <ion-col><ion-item (click)="lihathasil()">lihat</ion-item></ion-col>
  <ion-col><ion-item (click)="hasilketercapaian()">{{ student.pencatatan }}</ion-item></ion-col>
</ion-row>
</ion-grid></div>
</ion-content>
</ion-app>
