<ion-content>
    <ion-content [fullscreen]="true" color="medium">
        <ion-grid class="satu">

            <div class="tengah">
                <img src="assets/profilkepsek.png" width="30%">
                <p class="p2">Ubaid Khoiri S.Kom<br>NIP 1827172616</p>
                <ion-button color="light">
                    <a routerLink='/profil'>Edit profil</a></ion-button>
            </div>

        </ion-grid>
        <ion-item color="medium" (click)="rekapdata()">
            <ion-avatar slot="start">
                <img src="assets/icon/result.png">
            </ion-avatar>
            <ion-text color="dark">
                <p>REKAP DATA PENILAIAN SISWA</p>
            </ion-text>
        </ion-item>
    </ion-content>