<ion-header [translucent]="true">
    <div class="judul">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="home"></ion-back-button>
            </ion-buttons>
            <ion-title style="text-align: center;">jadwal Penilaian</ion-title>
        </ion-toolbar>
    </div>
</ion-header>

<ion-content fullscreen class="root">

    <ion-grid class="ion-text-center" style="padding-top: 70px;">
        <ion-row class="header-row">
            <ion-col>
                <ion-text>Hari</ion-text>
            </ion-col>
            <ion-col>
                <ion-text>Kelas</ion-text>
            </ion-col>
            <ion-col>
                <ion-text>Jam</ion-text>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text color="dark">
                    Senin
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    7A
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    1,2
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text color="dark">
                    Selasa
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    7B
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    3,4
                </ion-text>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text color="dark">
                    Rabu
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    8A
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    5,6
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text color="dark">
                    Kamis
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    8B
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    7,8
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text color="dark">
                    Jumat
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    9A
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    9,10
                </ion-text>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-text color="dark">
                    Sabtu
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    9B
                </ion-text>
            </ion-col>
            <ion-col>
                <ion-text color="dark">
                    3,4
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="button">
        <ion-button size="small" color="medium">
            <font size="2">Tambahkan</font>
        </ion-button>
        <ion-button size="small" color="medium">
            <font size="2">Edit</font>
        </ion-button>
        <ion-button size="small" color="medium">
            <font size="2">Hapus</font>
        </ion-button>
    </div>

</ion-content>

<ion-card color="Shade">
    <ion-card-header>

        <ion-label>
            <ion-text color="dark">
                <h5>Keterangan:</h5>
            </ion-text>

            <ion-text color="dark">
                <p>1. 07.00 - 07.50</p>
            </ion-text>

            <ion-text color="dark">
                <p>2. 07.50 - 08.40</p>
            </ion-text>

            <ion-text color="dark">
                <p>3. 08.45 - 09.35</p>
            </ion-text>

            <ion-text color="dark">
                <p>4. 09.35 - 10.25</p>
            </ion-text>

            <ion-text color="dark">
                <p>5. 10.30 - 11.20</p>
            </ion-text>

            <ion-text color="dark">
                <p>6. 11.20 - 12.10</p>
            </ion-text>

            <ion-text color="dark">
                <p>7. 12.30 - 13.20</p>
            </ion-text>

            <ion-text color="dark">
                <p>8. 13.20 - 14.10</p>
            </ion-text>

            <ion-text color="dark">
                <p>9. 14.15 - 15.05</p>
            </ion-text>

            <ion-text color="dark">
                <p>10. 15.15 - 16.05</p>
            </ion-text>
        </ion-label>
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
</ion-card>