<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="rekap-data"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Data Penilaian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card color="primary">
  <ion-card-header>
    <ion-item color="#E9967A">
  <ion-avatar slot="start">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjvIgzJzddMSk0ZJuW5D7rAUpLkXgDf5vPRw&usqp=CAU">
  </ion-avatar>
          <ion-label>
            <p>Nama : Safira Putri</p>
            <p>NIS : 1007</p>
            <p>Kelas : 7A</p>
            <p>Email : safira@gmail.com</p>
          </ion-label>
        </ion-item>
  </ion-card-header>

  <ion-card-content>
  </ion-card-content>
</ion-card>
<ion-grid class="ion-text-center">

  <ion-row class="ion-margin">
    <ion-col>
      <ion-title>
        <ion-text color="default">
          <font size="3">Kategori Nilai Semester Genap</font>
        </ion-text>
      </ion-title>
    </ion-col>
  </ion-row>

  <ion-row class="header-row">
    <ion-col>
      <ion-text>Tugas</ion-text>
    </ion-col>

    <ion-col>
      <ion-input></ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="header-row">
    <ion-col>
      <ion-text>Sikap</ion-text>
    </ion-col>

    <ion-col>
      <ion-input></ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="header-row">
    <ion-col>
      <ion-text>Ketrampilan</ion-text>
    </ion-col>

    <ion-col>
      <ion-input></ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="header-row">
    <ion-col>
      <ion-label position="stacked">Laporan Hasil Belajar : </ion-label><br>
      <ion-input></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button size="small" color="medium"><font size="2">Simpan</font></ion-button>
</ion-content>

