.satu {
    background-color: #777179;
}

.tengah {
    border-radius: 2%;
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 29%;
    margin-right: 30%;
    display: block;
    width: 300px
}

.btn {
    margin-left: 15%;
    margin-right: 5%;
    padding: 2px 2px;
    text-align: center;
    font-size: 16px;
    margin: 4px 4px;
}

p {
    font-size: 15px;
}