<ion-header>
    <div class="judul">
        <ion-toolbar>
            <ion-item (click)="home()">
                <ion-icon name="menu"></ion-icon>
                <ion-label>
                    <p>SOAL KARAKTER SISWA</p>
                </ion-label>
            </ion-item>
        </ion-toolbar>
    </div>
</ion-header>


<ion-content>
    <ion-content [fullscreen]="true">
        <ion-item *ngFor="let n of datasoal">
            <ion-avatar slot="start">
                <img src="assets/soal.png">
            </ion-avatar>
            <ion-text color="dark">
                <p>{{ n.soal }}</p>
            </ion-text>
        </ion-item>
</ion-content>