.ion-margin{
    --ion-background-color: #AEAEAE;
  }
.judul{
    --ion-background-color: #7D7480;
    font-size: 16px;
    text-align: center;
    color:#fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
  }
.judul p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    color:#fff;
}
.container {
    text-align: center;
    position:relative;
    left: 0;
    right: 0;
    top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 10pt;
  }
  
  tr:nth-of-type(odd) {
      background: #eee;
  }
  
  th {
      background:#F9E5D6;
      color: black;
      font-weight: bold;
  }
  
  td,
  th {
      background:#F9E5D6;
      padding: 3px;
      border: 1px solid black;
      text-align: center;
  }
  