<ion-content>
    <ion-slide>
        <div class="contaier-login">
            <ion-grid>

                <ion-row>
                    <ion-col>
                        <ion-list>

                            <div class="teks">
                                <ion-item>
                                    <ion-icon name="mail-outline"></ion-icon>
                                    <ion-input name="user" type="text" required placeholder="Email" [(ngModel)]="user.email"></ion-input>
                                </ion-item>
                                <br />
                                <ion-item>
                                    <ion-icon name="key-outline"></ion-icon>
                                    <ion-input name="password" type="password" required placeholder="Password" [(ngModel)]="user.password"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-icon name="person-outline"></ion-icon>

                                    <ion-input name="user" type="text" required placeholder="Nama Lengkap" [(ngModel)]="user.nama"></ion-input>
                                </ion-item>
                                <br />
                                <ion-item>
                                    <ion-icon name="reader-outline"></ion-icon>
                                    <ion-input name="user" type="text" required placeholder="NIP/NIS/NIK" [(ngModel)]="user.nip"></ion-input>
                                </ion-item>
                                <br />
                                <ion-item>
                                    <ion-icon name="home-outline"></ion-icon>
                                    <ion-input name="user" type="text" required placeholder="Alamat" [(ngModel)]="user.alamat"></ion-input>
                                </ion-item>
                                <br />
                                <ion-item>
                                    <ion-icon name="call-outline"></ion-icon>
                                    <ion-input name="user" type="text" required placeholder="No Telpon" [(ngModel)]="user.hp"></ion-input>
                                </ion-item>
                            </div>
                            <br />
                            <div class="ion-margin-top ion-text-right forget">
                            </div>
                        </ion-list>
                        <ion-button type="submit" fill="solid" expand="full" (click)="registrasi()" [disabled]="loading || user.password == undefined">{{ loading ? 'Tunggu..':'REGISTER'}}</ion-button>
                        <ion-label>
                            <h4>have an account? <a routerLink='/login'>LOGIN</a></h4>
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>